/** style **/


/** reset code **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
    padding:0px;
    margin:0px;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{text-decoration:none;display:inline-block;text-align:center;}

*{box-sizing:border-box;}
/** reset code end**/

html, body {
    height: 100%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */



@font-face {
    font-family: 'HoboStd';
    src:  url('../fonts/HoboStd.otf')  format('opentype'),
        url('../fonts/HoboStd') format('woff'), url('../fonts/HoboStd.ttf')  format('truetype'), url('../fonts/HoboStd.svg#HoboStd') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SegoePrint';
    src:  url('../fonts/SegoePrint.otf')  format('opentype'),
        url('../fonts/SegoePrint') format('woff'), url('../fonts/SegoePrint.ttf')  format('truetype'), url('../fonts/SegoePrint.svg#SegoePrint') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KomikaText';
    src:  url('../fonts/KomikaText.otf')  format('opentype'),
        url('../fonts/KomikaText') format('woff'), url('../fonts/KomikaText.ttf')  format('truetype'), url('../fonts/KomikaText.svg#KomikaText') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ComicSansMS';
    src:  url('../fonts/ComicSansMS.otf')  format('opentype'),
        url('../fonts/ComicSansMS') format('woff'), url('../fonts/ComicSansMS.ttf')  format('truetype'), url('../fonts/ComicSansMS.svg#ComicSansMS') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ComicSansMS-Bold';
    src:  url('../fonts/ComicSansMS-Bold.otf')  format('opentype'),
        url('../fonts/ComicSansMS-Bold') format('woff'), url('../fonts/ComicSansMS-Bold.ttf')  format('truetype'), url('../fonts/ComicSansMS-Bold.svg#ComicSansMS-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FetteMikado';
    src:  url('../fonts/FetteMikado.otf')  format('opentype'),
        url('../fonts/FetteMikado') format('woff'), url('../fonts/FetteMikado.ttf')  format('truetype'), url('../fonts/FetteMikado.svg#FetteMikado') format('svg');
    font-weight: normal;
    font-style: normal;
}

.try-me-wrapper *,.account-creation-wrapper * {font-family: 'HoboStd';}



/** landing page **/
.landing-bg{
    background:url("../images/1.Landing Page_BG.png") no-repeat;
    background-position:center center;
    background-size:cover;
    float:left;
    height:100%;
    width:100%;
} 


.BG_without_char{
    background:url("../images/BG_without_char.png") no-repeat;
    background-position:center center;
    background-size:cover;
    float:left;
    height:100%;
    width:100%;
} 


.home-4-6-bg{
    background:url("../images/bg4-6.png") no-repeat;
    background-position:center center;
    background-size:cover;
    float:left;
    height:100%;
    width:100%;
} 

.home-7-10-bg{
    background:url("../images/bg7-10.png") no-repeat;
    background-position:center center;
    background-size:cover;
    float:left;
    height:100%;
    width:100%;
} 

.home-11-14-bg{
    background:url("../images/bg11-14.png") no-repeat;
    background-position:center center;
    background-size:cover;
    float:left;
    height:100%;
    width:100%;
}
/* .landing-bg img {
  position: absolute;
  width: 100%;
  z-index: -1;
} */
.right-align {
    float: right;
}
.home-btn-left {	
    color: #fff;
    float: left;
    font-family: "HoboStd";
    height: 50px;
    line-height: 42px;
    text-align: center;
    text-shadow: 2px 2px 1px #000;
    width: 170px;
}
.blue-btn-left {
    background: rgba(0, 0, 0, 0) url("../images/blue-btn-left.png") no-repeat scroll 0 0 / 100% auto;

}

.brown-btn-left {
    background: rgba(0, 0, 0, 0) url("../images/brown-btn-left.png") no-repeat scroll 0 0 / 100% auto;
    font-family: "FetteMikado";
    font-size: 24px;
    text-shadow: none;
    line-height: 48px;
}
.purple-btn-left {
    background: rgba(0, 0, 0, 0) url("../images/purple-btn-left.png") no-repeat scroll 0 0 / 100% auto;
    font-family: "KomikaText";
    font-size: 18px;
    line-height: 48px;
    text-shadow: 2px 4px 1px #000;
}


.sign-in-up-btn, .try-me-btn, .watch-video-btn {
    clear: both;
    float: left;
    padding: 5px;
    text-align: center;  
}



.watch-video-btn {
    background: rgba(0, 0, 0, 0) url("../images/Demo_btn.png") no-repeat scroll 0 0 / 100% auto;
    height: 72px;
    margin: 8px;
    width: 171px;
    border:0px;
    color:#fff;
    padding-left: 22px;
}
.orange-btn{	
    background:url("../images/orange-btn.png") no-repeat scroll 0 0 / 100% auto;
    color: #fff;
    float: left;
    height: 51px;
    line-height: 34px;
    margin: 8px;
    width: 171px;
}

.landing-pg-btn-wrap {
    margin: 8% 2%;
}

.wath-video-txt, .demo-txt {
    clear: both;
    color: #fff;
    float: right;
    font-size: 18px;
    padding: 4px 0 0;
    text-align: center;
    width: 141px;
}

.sing-in-icon img,.try-me-icon img {
    float: left;
    left: 13px;
    position: absolute;
    top: 9px;
    width: 16px;
    z-index: 99999999;
}
.try-me-icon img {
    top: 5px;
    width: 22px;
}

.sing-in-icon,.try-me-icon {
    float: left;
    position: relative;
}
.bg-no-character {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.overlay-center-popup {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}
.overlay-center-popup-inner {
    display: table-cell;
    vertical-align: middle;
}

.wrapper-section {
    float: left;
    height: 100%;
    width: 100%;
}
.shadow-layer {
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 20px 64px;
    position: relative;
    text-align: left;
    width: 554px;
    margin: 42px auto 0;
}
.close-btn {
    position: absolute;
    right: -17px;
    top: -18px;
    cursor:pointer;
}
.age-group-wrapper ul li {
    display: inline-block;
    margin: 5px;
}
.age-btn {
    background-color: #c0c0c0;
    border: 0 none;
    border-radius: 5px;
    box-shadow: 6px 4px 5px #7e7e7e inset;
    -moz-box-shadow: 6px 4px 5px #7e7e7e inset;
    -webkit-box-shadow: 6px 4px 5px #7e7e7e inset;
    padding: 8px 17px;
    width: 95px;
    cursor:pointer;
}

.age-btn-active {
    background-color: #e7ff79;
}
.age-btn:hover {
    background-color: #e7ff79;
}


.age-group-header,.share-app-header {
    color: #fff;
    font-size: 22px;
}
.videoslider-wrpper {
    float: left;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}


.share-app-wrapper {
    float: left;
    width: 100%;
}


.share-app-icon-list li {
    display: inline-block;
    margin: 8px 0px;
}


.age-group-wrapper ul li:first-child{
    margin-left: 0;
}
.age-group-wrapper li:last-child{
    margin-right: 0px;
}

.popup-header {
    color: #fff;
    font-size: 28px;
    text-align: center;
    padding: 4px 0 16px;
    text-shadow: 2px -4px 0 #000;
}

.share-app-icon-list {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.red-btn {	
    background: rgba(0, 0, 0, 0) url("../images/red-btn.png") no-repeat scroll 0 0 / 100% auto;
    color: #fff;   
    height: 50px;
    line-height: 40px;
    margin: 8px;
    width: 171px;
    text-decoration: none !important;	
}

.user-avatar-image-circle {
    border-radius: 60px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    width: 100px;
}

.user-avatar-image-circle img {
    width: 100%;
}

.login-wrapper ul li label {
    color: #fff;
    float: left;
    font-family: 'HoboStd';
    clear:both;
    padding: 0 0 5px;
}	
.login-wrapper ul li {
    box-sizing: border-box;
    float: left;
    padding: 12px 0;
    width: 100%;
}

.login-wrapper input.form-filed-style {
    border: 0 none;
    border-radius: 3px;
    clear: both;
    float: left;
    padding: 10px 8px;
    width: 100%;
}

.center-align {
    text-align: center;
}
.share-app-icon-list li img {
    width: 100%;
}

.share-app-icon-list li a {
    margin: 0 4px;
    width: 34px;
}


.login-wrapper ul li a {
    color: #fff;
    text-decoration: underline;
}

.login-wrapper ul li span {
    color: #fff;
}


.gender-wrap {
    background-color: #f2f2f2;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #a2a2a2 inset;
    float: left;
    margin: 8px 7px 0;
    padding: 7px;
    color: #333 !important;
}

.gender-wrap.female-radio {
    color: #fc6ea4;
}

.gender-wrap.male-radio {
    color: #28a8e0;
}

.gender-wrap-outer,.age-grp-wrap-outer {
    clear: both;
    float: left;
}


.age-grp-wrap{
    background-color: #fef977;
    border-radius: 3px;
    box-shadow: 3px 4px 4px #a5a24d inset;
    color: #333 !important;
    float: left;
    margin: 8px 7px 0;
    padding: 7px;
}

.account-creation-wrapper .login-wrapper {
    height: 500px;
    overflow-x: hidden;
}
.forgot-wrapper {
    height: auto !important;
}

.slider-img-wrapper{
    height: 180px;
    margin:0px auto;
}


.left,
.right {
    cursor: pointer;
}


.close-btn img {
    width: 38px;
}

.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical {  
    right: -40px;
}

.shadow-layer-child-sign-in {
    float: left;
    margin: 20px;
    padding: 20px;
    width: 300px;
}

.shadow-layer-child-sign-in-outer {
    display: inline-block;
}

.slider-img-wrapper ul li img {
    border: 3px solid #fff;
}


.left-slide-menu {
    float: left;
    padding: 12px;
    text-align: center;  
    background: -moz-linear-gradient(left, rgba(21,38,107,0.6) 0%, rgba(47,66,101,0.6) 19%, rgba(48,67,101,0.6) 20%, rgba(129,140,166,0.6) 50%, rgba(48,67,101,0.6) 80%, rgba(46,65,99,0.6) 81%, rgba(1,26,64,0.6) 100%);
    background: -webkit-linear-gradient(left, rgba(21,38,107,0.6) 0%,rgba(47,66,101,0.6) 19%,rgba(48,67,101,0.6) 20%,rgba(129,140,166,0.6) 50%,rgba(48,67,101,0.6) 80%,rgba(46,65,99,0.6) 81%,rgba(1,26,64,0.6) 100%);
    background: linear-gradient(to right, rgba(21,38,107,0.6) 0%,rgba(47,66,101,0.6) 19%,rgba(48,67,101,0.6) 20%,rgba(129,140,166,0.6) 50%,rgba(48,67,101,0.6) 80%,rgba(46,65,99,0.6) 81%,rgba(1,26,64,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9915266b', endColorstr='#99011a40',GradientType=1 );
    height:100%;
    position:relative;
    left:0;
}

.left-slide-menu-list li {
    clear: both;
    display: inline-block;
    float: left;
    padding: 15px;
}

.left-slide-menu-list {
    display:inline-block;
    clear:both;
    margin: 14px 0;
      position: relative;
    z-index: 99999999;
}

.username-profile-img {
    border-radius: 45px;
    display: table-cell;
    float: left;
    height: 70px;
    overflow: hidden;
    vertical-align: middle;
    width: 70px;
}
.username-profile-img img {
    width: 100%;
}

.how-to-wrapper {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 58px;
}
.how-to-wrapper img {
    width: 100%;
}
.user-name-wrapper {
    display: table;
    float: left;
}

.username-txt {
    display: table-cell;
    vertical-align: middle;
    font-family: 'SegoePrint';
    color:#fff;
    padding-left: 10px;
}

.left-slide-arrow-toogle {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0); 
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: 74% auto;
    cursor: pointer;
    height: 74px;
    position: absolute;
    right: -35px;
    top: 48%;
    width: 36px;
}

.home-4-6-bg .left-slide-arrow-toogle {
    background-image: url("../images/blue-toggle-arrows.png");}

.home-7-10-bg .left-slide-arrow-toogle {
    background-image: url("../images/brown-toggle-arrows.png");}

.home-11-14-bg .left-slide-arrow-toogle {
    background-image: url("../images/purple-toggle-arrows.png");}

.arrow-toogle-out{background-position: 0px 0px;}
.arrow-toogle-in {    background-position: 0 -78px;}



.right-side-section {
    float: right;
    padding: 12px;
}

.home-btn-right {  
    color: #fff;
    float: left;
    font-family: "ComicSansMS-Bold";
    font-size: 13px;
    height: 98px;
    line-height: 103px;
    padding-left: 44px;
    text-align: left;
    text-shadow: 2px 2px 1px #000;
    text-transform: uppercase;
    width: 282px;
}
.blue-btn-right {
    background: rgba(0, 0, 0, 0) url("../images/blue-btn-right.png") no-repeat scroll 0 0 / 100% auto;
}
.brown-btn-right {
    background: rgba(0, 0, 0, 0) url("../images/brown-btn-right.png") no-repeat scroll 0 0 / 100% auto;
    font-family: "FetteMikado";
    font-size: 24px;
    line-height: 111px;
    padding: 0 0 0 19px;
    text-shadow: none;
}
.purple-btn-right {
    background: rgba(0, 0, 0, 0) url("../images/purple-btn-right.png") no-repeat scroll 100% 0 / 96% auto;
    font-family: "KomikaText";
    font-size: 15px;
    height: 92px;
    line-height: 83px;
    padding: 0;
    text-align: center;
    text-shadow: none;
    width: 225px;
}
.right-slide-menu-list {
    clear: both;
    float: right;
    margin: 30px 0 0;
}

.read-more {
    float: right;
}

.right-slide-menu-list li {
    clear: both;
    display: inline-block;
    float: left;
    margin: 3px 0;
}

.read-more {
    width: 85px;
}

.read-more img {
    width: 100%;
}

.home-7-10-bg .left-slide-menu {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}

.yellow-btn-left
{
    background: rgba(0, 0, 0, 0) url("../images/yellow-btn-left.png") no-repeat scroll 0 0 / 100% auto;
}



.parent_dashboard .left-slide-arrow-toogle {
    background-image: url("../images/yellow-toggle-arrows.png");
}

.parent_dashboard .left-slide-menu-list a {
    color: #333;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    text-shadow: none;
}

.parent_dashboard .left-slide-menu {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0 !important;
}

.hover-child-btn {
    background: rgba(0, 0, 0, 0) url("../images/hand_over_btn.png") no-repeat scroll 0 0 / 100% auto;
    color: #fff;
    font-family: arial;
    font-size: 17px;
    height: 56px;
    line-height: 52px;
    margin: 8px;
    padding-left: 10px;
    text-align: center;
    text-decoration: none !important;
    width: 250px;
}
.hover-child-btn-wrapper {
    margin-top: 17px;
}
.error{ font-size:14px; font-family: "HoboStd"; text-align:left; color:#a52020 !important; margin-top:5px; }
input[type="submit"].red-btn {	
    background: rgba(0, 0, 0, 0) url("../images/red-btn.png") no-repeat scroll 0 0 / 100% auto;
    color: #fff;   
    height: 50px;
    line-height: 40px;
    margin: 8px;
    width: 171px;
    text-decoration: none !important;	
    border:0px;
    background-position:0px 4px;
    text-align:center;
    font-size:15px;
}

.modal{  
  z-index: 99999 !important;
}

.cls-pop-vid img{
    margin-left:-37px;
    margin-top:10px;
    width:28px;
    
}

.what-is-islam-bg{
	background:url("../images/4-6/what-is-islam.jpg") no-repeat;
	background-size:cover;	
	
}

.footer-nav-section {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.home-btn {
    float: right;
}

.back-btn {
    float: left;
}

.footer-nav-section a {
    margin: 14px 30px;   
}

.footer-nav-section a img {
    width: 54px;
}

.footer-section ul {
    display: inline-block;
    position: relative;
    z-index: 9999;
}

.footer-section ul li {
    float: left;
    margin-right: 18px;
}
.footer-section {
    bottom: 14px;
    position: absolute;
    text-align: center;
    width: 100%;
}


.footer-section ul li a {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    width: 100px;
}

.what-is-islam-option-bg{
	  background: rgba(0, 0, 0, 0) url("../images/4-6/what-is-islam-option-bg.png") no-repeat scroll 0 0 / 100% auto;
}


.five-pillers-of-islam-bg
{
	  background: rgba(0, 0, 0, 0) url("../images/4-6/five-pillers-of-isslam.jpg") no-repeat scroll 0 0 / 100% auto;
}

.five-piller-option-list {
	position: absolute;
    right: 12%;
    top: 4%;
}

.five-pillers-option-bg-1{
	   background: rgba(0, 0, 0, 0) url("../images/4-6/five-piller-option-bg-1.png") no-repeat scroll 0 0 / 100% auto;
	color: #fff;
    display: table-cell;
    height: 116px;
    padding-left: 45px;
    text-align: center;
    vertical-align: middle;
    width: 208px;
	}
.five-pillers-option-bg-2{	
	background: rgba(0, 0, 0, 0) url("../images/4-6/five-piller-option-bg-2.png") no-repeat scroll 0 0 / 100% auto;
    height: 120px;
    width: 208px;	
	color: #fff;	
	display:table-cell;
	vertical-align:middle;
	padding-right: 45px;
	}
	
	
	.prayer-salaat-bg-bg{
		
		 background: rgba(0, 0, 0, 0) url("../images/4-6/prayer-salaat.jpg") no-repeat scroll 0 0 / 100% auto;
	}
	
	
.back-btn {
    float: left;
    position: absolute;
    top: 42px;
}	